@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import "variable";
* {
    margin: 0px;
    padding: 0px;
}
@mixin heading-1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
}
@mixin paragraph-1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
@mixin red-btn {
    padding: 12px 24px;
    color: #ffffff;
    border: 0px;
    border-radius: 30px;
    background-color: $red;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: 200ms ease-in-out;
    &:hover {
        background-color: transparent;
        color: $red;
        border: 1px solid $red;
    }
    @media only screen and (min-width: 200px) and (max-width: 576px) {
        font-size: 14px;
        padding: 8px 22px;
    }
}

@mixin white-btn {
    padding: 12px 24px;
    color: $black;
    border: 0px;
    border-radius: 30px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: 200ms ease-in-out;
    outline: none;
    border: 1px solid white;
    &:hover {
        background-color: transparent;
        border: 1px solid white;
        color: #ffffff;
    }
    @media only screen and (min-width: 200px) and (max-width: 576px) {
        font-size: 14px;
        padding: 8px 22px;
    }
}
body {
    font-family: $font-1 !important;
}
.container {
    max-width: 1194px !important;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}

header {
    nav {
        padding: 28px 0px;

        ul {
            height: fit-content;
            margin: auto 0px;
            margin-left: 30px;
            li {
                margin: 0px 18px;
                &:hover a::after {
                    width: 100%;
                    left: 0;
                }
                a {
                    text-decoration: none;
                    position: relative;
                    color: $grey;
                    width: 100%;
                    left: 0;
                    &:hover {
                        color: $red;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 0%;
                        height: 4px;
                        background-color: $red;
                        left: 50%;
                        bottom: -10px;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
        }
        .search-box {
            margin-left: 195px;

            input {
                width: 166px;
                padding: 13px 0px;
                border: 1px solid #bdbcbb;
                border-right: 0px;
                padding-left: 16px;
                border-radius: 80px 0px 0px 80px;
                outline: none;
                &:focus {
                    border: 1px solid $red;
                    border-right: 0px;
                }
            }
            button {
                width: 38px;
                background: transparent;
                padding: 13px 0px;
                height: 51.33px;
                padding-right: 15px;
                border: 1px solid #bdbcbb;
                border-radius: 0px 80px 80px 0px;
                border-left: 0px;
                color: #154747;
                margin-left: -5px;
            }
        }
        .user {
            display: flex;
            place-items: center;
            margin-left: 9px;
            img {
                margin: auto 16px;
            }
        }
    }
}
.header-main {
    background: url(../images/header-bg.jpg) center no-repeat;
    padding-top: 154px;
    padding-bottom: 134px;
    h1 {
        color: #ffffff;
        font-weight: 700;
        width: 705px;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    p {
        width: 669px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 24px;
    }
    button {
        @include white-btn();
    }
}
.section-1 {
    padding-top: 76px;
    .new-arrival {
        padding-top: 110px;
        h1 {
            @include heading-1();
            color: $black;
            margin-bottom: 25px;
        }
        p {
            font-family: $grey;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $grey;
            margin-bottom: 35px;
        }
        button {
            @include red-btn();
        }
    }
    .sec1-box {
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.4);
        border-radius: 8px;
        overflow: hidden;
        &:hover img {
            transform: scale(1.08);
        }
            figure{
                overflow: hidden;
                img {
                    width: 100%;
                    transition: 300ms ease-in-out;
                }
            }
        .sec1-box-content {
            padding: 16px 25px 24px 16px;
            h1 {
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: $grey;
            }
            h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: $black;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $grey;
                margin-bottom: 0px;
            }
        }
    }
}
.section-2 {
    padding: 90px 0px 80px 0px;
    h1 {
        font-style: normal;
        @include heading-1();
        color: $black;
        margin-bottom: 48px;
    }
    .sec2-box {
        text-align: center;
        &:hover figure img {
            transform: scale(1.08);
        }
        figure {
            margin-bottom: 32px;
            overflow: hidden;
            img {
                transition: 300ms ease-in-out;
            }
        }
        h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            color: $black;
            margin-bottom: 10px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $grey;
            margin-bottom: 24px;
        }
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $black;
            text-decoration: none;
            &:hover {
                color: $red;
            }
            i {
                margin-left: 5px;
            }
        }
    }
}
// section 3
.section-3 {
    background: url(../images/sec3-bg.jpg) no-repeat;
    background-position: right;
    padding: 159px 0px 192px 0px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #bdbcbb;
    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        color: $black;
        word-break: 100px;
        margin-bottom: 15px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $grey;
        margin-bottom: 38px;
    }
    button {
        @include red-btn();
    }
}
.section-4 {
    padding-top: 68px;
    padding-bottom: 32px;
    h1 {
        @include heading-1();
        color: $black;
        height: fit-content;
        margin: auto 0px;
    }
    button {
        @include red-btn();
    }
}
// card 2 css started
.card-2 {
    margin-bottom: 48px;
    figure {
        margin-bottom: 20px;
    }
    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: $black;
        margin-bottom: 8px;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $grey;
        margin-bottom: 0px;
    }
}
// card 2 css ended

.section-5 {
    padding: 115px 0px 106px 0px;
    background: url(../images/sec5-bg.jpg) center no-repeat;
    h1 {
        @include heading-1();
        text-align: center;
        color: #ffffff;
        margin-bottom: 16px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        width: 405px;
        margin: auto;
        margin-bottom: 35px;
    }
    button {
        @include white-btn();
    }
}
a {
    text-decoration: none;
}
.section-6 {
    padding: 80px 0px 121px 0px;
    h1 {
        @include heading-1();
        color: $black;
        text-align: center;
        margin-bottom: 50px;
    }
    .slick-list {
        padding-bottom: 24px;
    }
    .slick-dots {
        bottom: -48px;
        li {
            width: fit-content;
            padding: 0px 4px;
            margin: 0px;
            button {
                width: 18px;
                height: 9px;
                background: #d9d9d9;
                border-radius: 10px;
                &::before {
                    content: " ";
                }
            }
        }
        .slick-active {
            button {
                width: 28px;
                height: 9px;
                background: #bb5036;
                border-radius: 10px;
                &::before {
                    content: " ";
                }
            }
        }
    }
    .sec6-box {
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.4);
        border-radius: 8px;
        padding: 31px 38px 35px 32px;
        display: flex;
        margin: 0px 15px;
        .sec6-box-content {
            margin-left: 21px;
        }
        h2 {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $black;
            margin-bottom: 8px;
        }
        p {
            @include paragraph-1();
            color: $grey;
            margin-bottom: 31px;
        }
        h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $black;
            margin-bottom: 3px;
        }
        h4 {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $grey;
        }
    }
}
.section-7 {
    background: #f3f3f3;
    padding: 104px 0px 108px 0px;
    h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 45px;
        color: $black;
        margin-bottom: 0px;
    }
    .input-box {
        margin: auto 0px;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        input {
            width: 438px;
            height: 64px;
            border: 1px solid #bdbcbb;
            border-radius: 50px;
            margin: auto 0px;
            padding: 0px 150px 0px 30px;
            outline: none;
            color: $grey;
            &:focus {
                border: 2px solid $red;
            }
            &::placeholder {
                color: $grey;
            }
        }
        button {
            @include red-btn();
            top: 21px;
            right: 8px;
        }
    }
}
footer {
    padding: 65px 0px 31px 0px;
    .footer-1 {
        padding-top: 9px;
        figure {
            margin-bottom: 15px;
        }
        p {
            @include paragraph-1();
            color: $grey;
            margin-bottom: 24px;
        }
        .social-media {
            font-size: 22px;
            a {
                margin-right: 7px;
            }
        }
    }
    h1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        color: $black;
    }
    ul {
        li {
            list-style: disc;
        }
        a {
            font-weight: 400;
            font-size: 15px;
            line-height: 42px;
            color: $grey;
            text-decoration: none;
            &:hover {
                color: $red;
            }
        }
    }
    .footer-2 {
        padding-left: 26px;
    }
    .footer-3 {
        padding-left: 66px;
    }
}
.disclaimer {
    padding: 29px 0px 31px 0px;
    background: #f3f3f3;
    h1 {
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 0px;
        a {
            color: $red;
            text-decoration: none;
        }
    }
}
// explore page
.explore-header {
    background: url(../images/explore-header-bg.jpg) no-repeat;
    padding: 63px 0px 59px 0px;
    h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: #ffffff;
        margin-bottom: 9px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 35px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    button {
        @include white-btn();
    }
}
.section-explore-1 {
    padding: 80px 0px 32px 0px;
    h1 {
        @include heading-1();
        text-align: center;
        color: $black;
        margin-bottom: 48px;
    }
}
.section-explore-2 {
    padding: 68px 0px 79px 0px;
    background: #fafafa;
    h1 {
        @include heading-1();
        text-align: center;
        color: $black;
        margin-bottom: 48px;
    }
}
.card-3 {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.4);
    border-radius: 8px;
    img {
        width: 100%;
    }
    .card-3-content {
        padding: 24px 21px 29px 24px;
        h2 {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $black;
            margin-bottom: 12px;
        }
        p {
            @include paragraph-1();
            color: $grey;
            margin-bottom: 0px;
        }
    }
}
.section-explore-3 {
    padding: 80px 0px 32px 0px;
}
// explore page ended

// about us started
.section-about-1 {
    padding: 80px 0px 60px 0px;
    img {
        width: 100%;
    }
    h1 {
        font-weight: 700;
        font-size: 38px;
        line-height: 42px;
        color: $black;
        text-align: center;
        margin-bottom: 48px;
    }
    .content {
        padding-top: 16px;
        p {
            @include paragraph-1();
            color: $grey;
        }
    }
}
.section-about-2 {
    padding: 40px 0px;
    background: #f0f1f7;
    img {
        width: 100%;
    }
    .content {
        h1 {
            color: $black;
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 28px;
        }
        h2 {
            color: $red;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
        }
        p {
            @include paragraph-1();
            color: $grey;
        }
    }
}
// about us ended
@media only screen and (min-width: 200px) and (max-width: 576px) {
    .sm-none {
        display: none;
    }
    header {
        nav {
            padding: 16px 0px;
            figure {
                img {
                    width: 160px;
                }
            }
            .user {
                margin-left: auto;
                img {
                    margin: 0px 8px;
                }
                button {
                    margin-left: 12px;
                }
            }
            .offcanvas-btn {
                background-color: transparent;
                border: 0px;
                color: #000000;
                font-size: 22px;
                margin-left: auto;
            }
            ul {
                margin-left: 10px;
                li {
                    margin: 18px 0px;
                }
            }
        }
    }
    .header-main {
        padding-top: 65px;
        padding-bottom: 60px;
        h1 {
            width: 100%;
            font-size: 42px;
            line-height: 46px;
        }
        p {
            width: 100%;
            font-size: 14px;
            line-height: 26px;
        }
    }
    .section-1 {
        .new-arrival {
            padding-top: 0px;
            text-align: center;
            margin-bottom: 24px;
            h1 {
                margin-bottom: 18px;
            }
            p {
                margin-bottom: 18px;
            }
        }
        .sec1-box {
            margin-bottom: 24px;
                img{
                    width: 100%;
                }
        }
    }
    .card-2 {
        img {
            width: 100%;
        }
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
    .section-2 {
        h1 {
            font-size: 28px;
        }
        .sec2-box {
            margin-bottom: 32px;
            figure {
                margin-bottom: 16px;
                img {
                    width: 100%;
                }
            }
            .sec2-box-content {
                h2 {
                    font-size: 21px;
                    line-height: 22px;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    .section-3 {
        background: none;
        padding: 70px 0px 80px 0px;
        h1 {
            text-align: center;
            font-size: 30px;
            line-height: 37px;
        }
        p {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .section-4 {
        h1 {
            margin-bottom: 32px;
            font-size: 25px;
            text-align: center;
        }
    }
    .section-5 {
        padding: 80px 0px 80px 0px;
        h1 {
            line-height: 36px;
            margin-bottom: 12px;
        }
        p {
            width: 100%;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }
    .section-6 {
        h1 {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 32px;
        }
        .sec6-box {
            display: block;
            text-align: center;
            padding: 20px 20px 20px 20px;
            figure {
                display: flex;
                justify-content: center;
            }
            .sec6-box-content {
                margin-left: 0px;
                h2 {
                    font-size: 16px;
                    line-height: 22px;
                }
                p {
                    font-size: 13px;
                    line-height: 22px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                }
                h4 {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
    .section-7 {
        padding: 80px 0px 80px 0px;
        h1 {
            font-weight: 600;
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 32px;
        }
        .input-box {
            input {
                width: 100%;
                height: 55px;
                padding: 0px 120px 0px 30px;
            }
            button {
                top: 8px;
            }
        }
    }
    footer {
        .footer-1 {
            text-align: center;
            padding-bottom: 32px;
            p {
                font-size: 13px;
                line-height: 21px;
                margin-bottom: 16px;
            }
        }
        .footer-2 {
            padding-left: 0px;
        }
        .footer-3 {
            padding-left: 0px;
        }
        .footer-4 {
            padding-left: 0px;
        }
    }
    .disclaimer {
        text-align: center;
        padding: 20px 0px 22px 0px;
        h1 {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    .explore-header {
        background-position: center;
        padding: 55px 0px 35px 0px;
    }
    .section-about-1 {
        h1 {
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 32px;
        }
        .content {
            p {
                font-weight: 400;
                font-size: 13px;
                line-height: 22px;
                text-align: justify;
            }
        }
    }
    .section-about-2 {
        .content {
            h1 {
                font-size: 36px;
                line-height: 42px;
            }
            p {
                text-align: justify;
                font-size: 13px;
                line-height: 22px;
            }
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 992px) {
    .md-none {
        display: none;
    }
    header {
        nav {
            padding: 16px 0px;
            .offcanvas-btn {
                background-color: transparent;
                border: 0px;
                color: #000000;
                font-size: 22px;
                margin-left: auto;
            }
            .user {
                margin-left: auto;
                img {
                    margin: 0px 8px;
                }
                button {
                    margin-left: 12px;
                }
            }
            ul {
                margin-left: 10px;
                li {
                    margin: 18px 0px;
                }
            }
        }
    }
    .card-2 {
        img {
            width: 100%;
        }
    }
    .section-2 {
        .sec2-box {
            margin-bottom: 32px;
        }
    }
    .section-3 {
        padding: 90px 0px 90px 0px;
        background: none;
        text-align: center;
    }
    .section-5 {
        padding: 80px 0px 80px 0px;
    }
    .section-6 {
        .sec6-box {
            display: block;
            text-align: center;
            padding: 20px 20px 20px 20px;
            margin-bottom: 32px;
            figure {
                display: flex;
                justify-content: center;
            }
            .sec6-box-content {
                margin-left: 0px;
                h2 {
                    font-size: 16px;
                    line-height: 22px;
                }
                p {
                    font-size: 14px;
                    line-height: 24px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                }
                h4 {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
    }
    .section-7 {
        .input-box {
            input {
                width: 100%;
            }
            button {
                top: 12px;
            }
        }
        h1 {
            font-size: 28px;
            line-height: 36px;
        }
    }
    footer {
        .footer-2 {
            padding-left: 0px;
        }
        .footer-3 {
            padding-left: 0px;
        }
    }
    .explore-header {
        padding: 40px 0px 22px 0px;
    }
    .section-about-1 {
        img {
            width: 100%;
            height: 100%;
        }
        .content {
            p {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .section-about-2 {
        padding: 75px 0px;
        .content {
            h1 {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 22px;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
            }
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .sec2-box {
        figure {
            img {
                width: 100%;
            }
        }
    }
    .card-2 {
        figure {
            img {
                width: 100%;
            }
        }
    }
}
